
.background-shop{
    width: 100%;
    height: 550%;
    background-color: rgb(12, 12, 12);
}
@media (max-width:1000px) {
    .background-shop{
        height: 810%;
        
    }
}
@media (max-width:700px) {
    .background-shop{
        height: 1490%;
        
    }
}


.shop-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    column-gap: 10px;
    row-gap: 200px;
    justify-content: center;
    width: 100%;
    height: 1000px; /* Altezza automatica per adattarsi al contenuto */
    background-color: rgb(12, 12, 12);
    position: absolute;
    top: 40%;
}
@media (max-width:1000px) {
    .shop-grid{
    grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width:700px) {
    .shop-grid{
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    }
}
  
  .item-box {
    width: 95%; /* Ogni cella occupa tutta la larghezza della colonna */
    height: 400px; /* Ogni cella occupa tutta l'altezza della riga */
    background-color: rgb(44, 44, 44);
    margin-right: 10px; /* Spazio tra le colonne delle celle */
    position: relative;
    margin-left: 3.2%;
    margin-right: 2%;
    border-radius: 20px;
    left: -0.5%;
    top: 50%;
  }
  @media (max-width:1000px) {
    .item-box{
        top: 25%;
        
    }
}
@media (max-width:700px) {
    .item-box{
        top: 7%;
        
    }
}

  .item-img{
    position: absolute;
    top: -33%;
    left: 35.5%;
    width: 25%;
    background-color: rgb(44, 44, 44);
    padding: 10px;
    border-radius:20% ;
  }
  @media (max-width:1000px) {
    .item-img{
        top: -25%;
        
    }
}
@media (max-width:700px) {
    .item-img{
        top: -20%;
        left: 34.5%;
        
    }
}
  

  .item-title{
    font-size: 30px;
    position: absolute;
    left: 5%;
    color: rgb(0, 255, 191);
  }
  @media (max-width:1000px) {
    .item-title{
        font-size: 25px;
        
    }
}
@media (max-width:700px) {
    .item-title{
        font-size: 20px;
        
    }
}

  .item-price{
    
    font-size: 30px;
    position: absolute;
    right: 5%;
    color: rgb(0, 255, 191);
  }
  @media (max-width:1000px) {
    .item-price{
        font-size: 25px;
        
    }
}
@media (max-width:700px) {
    .item-price{
        font-size: 20px;
        
    }
}

  .item-desc{
    position: absolute;
    width: 100%;
    top: 20%;
    height: 250px;
    background-color: rgb(73, 73, 73);
    justify-content: center;
    display: flex;
    align-items: center;
  }

  .item-desc-text{
    text-align: justify;
    position: absolute;
    left: 5%;
    right: 5%;

  }
  @media (max-width:1000px) {
    .item-desc-text{
        font-size: 13px;
    }
}
@media (max-width:700px) {
    .item-desc-text{
        font-size: 11px;
    }
}

  .item-quantity{
    position: absolute;
    bottom: 3%;
    left: 5%;
    padding: 5px;
    font-size: 25px;
    outline: none;
    border-radius: 10px;
    border: none;
    background-color: rgb(14, 14, 14);
    color: rgb(0, 255, 191);
    cursor: pointer;
  }

  .item-cart{
    border-radius: 10px;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: 4%;
    right:5%;
    padding: 10px;
    background-color: rgb(0, 255, 191);
    transition: 0.3s;
    color: black;
  }

  .item-cart:hover{
    background-color: black;
    color: rgb(0, 255, 191);
  }


  .item-added{
    position: absolute;
    bottom: 3%;
    right: 30%;
    color: rgb(0, 255, 191);
  }
  @media(max-width:1000px){
    .item-added{
        font-size: 13px;
        right: 40%;
    }
}
@media(max-width:700px){
    .item-added{
        font-size: 8px;
        right: 50%;
        bottom: 5%;
    }
}



  .welcome-shop{
font-size: 70px;
position: relative;
top: 50%;
left: 0%;
display: inline-flex;
color: black;
margin-right: 13px;
padding-left: 50px;
border-radius: 0px 20px 20px 0px;
  }
  @media (max-width:1000px) {
    .welcome-shop{
        font-size: 50px;
        height: 130px;
        top: 65%;
    }
}
@media (max-width:700px) {
    .welcome-shop{
        font-size: 50px;
        zoom: 70%;
        top: 15%;
        padding-left: 0px;
        margin-right: 0px;
        border-radius: 0px;
        text-align: center;
    }
}

.shoplogo{
    zoom: 40%;
    position: absolute;
    left: 23%;
    border-radius: 16%;
    opacity: 0.6;
    animation: 1s infinite alternate alienon;
}
@keyframes alienon {
    from{opacity: 0.6;}
    to{opacity: 1;}
    
}

@media (max-width:1000px) {
    .shoplogo{
        top: -120%;
        left: 14%;
        opacity: 0.6;
    }
    
}
@media (max-width:700px) {
    .shoplogo{
        top: -110%;
        left: 21%;
        opacity: 0.5;
    }
    
}

.cart-box{
display: flex;
justify-content: center;
align-items: center;
border-radius: 60px;
width: 100%;
height: 100px;
position: fixed;
bottom: 0%;
left: 2.6%;
}

.cart{
filter: invert(0);
width: 5%;
position: absolute;
right: 7%;
top: -30%;
background-color: rgb(100, 137, 218);
padding: 10px;
border-radius: 30%;
cursor: pointer;
}
@media(max-width:1000px){
    .cart{
        width: 7%;
    }
}
@media(max-width:700px){
    .cart{
        width: 12%;
    }
}

.cart-quantity{
color:rgb(0, 255, 191) ;
padding:5px;
position: absolute;
bottom: 45%;
right:9.5%;
border-radius: 30px;
font-size: 20px;
cursor: pointer;
}
@media(max-width:1000px){
    .cart-quantity{
        bottom: 55%;
    }
}
@media(max-width:700px){
    .cart-quantity{
       bottom: 65.5%;
       right: 12.5%;
       font-size: 18px;
    }
}




.cart-page{
    background-color: rgb(46, 46, 46);
    width: 94.5%;
    height: 850px;
    position: absolute;
    bottom: 0%;
    border-radius: 20px;
    left: 0%;
    box-shadow: rgba(0, 0, 0, 0.438) 0px 0px 30px 250px;
    visibility: hidden;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    overflow: auto;
}
@media(max-width:700px){
    .cart-page{
        height: 600px;
    }
}


.cart-page-item-box{
    width: 70%;
    height: 200px;
    background-color: rgb(12, 12, 12);
    border-radius: 20px;
    position: relative;
    top: 20%;
    left: 5%;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
}
@media(max-width:1000px){
    .cart-page-item-box{
        font-size: 13px;
        width: 50%;
    }
}
@media(max-width:700px){
    .cart-page-item-box{
      width: 90%;
      top:150%;
      margin-top: 70px;
      height: 150px;
    }
}


.cart-page-name{
    position: absolute;
    left: 40%;
    top: 20%;
    font-size: 38px;
}
@media(max-width:1000px){
    .cart-page-name{
        font-size: 28px;
        left: 10%;
        top: 1%;
    }
}
@media(max-width:700px){
    .cart-page-name{
        font-size: 21px;
       left: 10%;
       top:3%;
    }
}

.cart-page-price{
    position: absolute;
    right: 5%;
    top: 10%;
    color: rgb(0, 255, 191);
}
@media(max-width:1000px){
    .cart-page-price{
        font-size: 18px;
        right: 10%;
        top: 11%;
    }
}
@media(max-width:700px){
    .cart-page-price{
        font-size: 15px;
        right: 5%;
        top: 11%;
    }
}

.cart-page-img{
width: 15%;
position: absolute;
left: 5%;
}
@media(max-width:1000px){
    .cart-page-img{
        top: 48%;
        left: 10%;
        width: 20%;
    }
}
@media(max-width:700px){
    .cart-page-img{
    }
}


.cart-page-pay-box{
    width: 20%;
    height: 600px;
    background-color: rgb(12, 12, 12);
    position: absolute;
    border-radius: 20px;
    right: 2%;
    top: 10%;
    display: flex;
    justify-content: center;
}
@media(max-width:1000px){
    .cart-page-pay-box{
        width: 40%;
    }
}
@media(max-width:700px){
    .cart-page-pay-box{
        width: 90%;
        height: 350px;
        left: 5%;
        top: 3%;
        margin-bottom: 50px;
    }
}

.cart-page-prod{
    background-color: rgb(0, 255, 191);
    color: black;
    display: inline-flex;
    position: absolute;
    height: 30px;
    padding: 20px;
    border-radius: 20px;
}
@media(max-width:700px){
    .cart-page-prod{
        zoom: 60%;
        top: 3%;
    }
}

.cart-page-pay-grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 0px;
    width: 80%;
    height: 250px;
    background-color: rgb(44, 44, 44);
    position: absolute;
    top: 35%;
    border-radius: 20px;

}
@media(max-width:700px){
    .cart-page-pay-grid{
        zoom: 45%;
        top: 35%;
        width: 60%;
    }
}


.cart-page-remove{
    border: none;
    background-color: rgb(0, 255, 191);
    color: black;
    padding: 10px;
    position: absolute;
    right: 5%;
    bottom: 10%;
    cursor: pointer;
    border-radius: 10px;
}
.cart-page-remove:hover{
    background-color: black;
    color: rgb(0, 255, 191);
    border: rgb(0, 255, 191) 1px solid;
}
@media(max-width:1000px){
    .cart-page-remove{
        right:10%;
        width: 50%;
    }
}
@media(max-width:700px){
    .cart-page-remove{
        right:10%;
        width: 50%;
    }
}


.cart-page-aumenta{
position: absolute;
top: 60%;
right: 51.5%;
}
@media(max-width:1000px){
    .cart-page-aumenta{
       top: 40%;
       right: 45%;
    }
}
@media(max-width:700px){
    .cart-page-aumenta{
       top: 40%;
       right: 35%;
    }
}


.cart-page-qt{
position: absolute;
top: 64%;
right: 44%;
padding: 6px;
outline: none;
border-radius: 10px;
font-size: 20px;
border: none;
}
@media(max-width:1000px){
    .cart-page-qt{
       top: 40%;
       right: 20%;
    }
}
@media(max-width:700px){
    .cart-page-qt{
       top: 40%;
       right: 20%;
    }
}


.cart-page-qt-num{
    font-size: 20px;
    }


.pay-method{
    width: 90%;
    height: 50px;
    position: relative;
    background-color: rgb(12, 12, 12);
    display: flex;
    align-items: center;
    top: 10%;
    left: 4.5%;
    border-radius: 10px;
    cursor: pointer;
}


.pay-method:hover{
    background-color: rgb(26, 26, 26);
}

.pay-method-choose{
    position: absolute;
    top: 25%;
}
@media(max-width:700px){
    .pay-method-choose{
        top: 20%;
    }
}

.pay-total{
    position: absolute;
    bottom: 13%;
    color: rgb(0, 255, 191);
}


.pay-img{
    width: 15%;
    position: absolute;
    left: 5%;
}

.pay-name{
    position: absolute;
    left: 30%;
}

.pay-button{
    position: absolute;
    bottom: 4%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}

.pay-button:hover{
    color: rgb(0, 255, 191);
    background-color: black;
    border: rgb(0, 255, 191) 1px solid;
}

.thanks{
    position: absolute;
    font-size: 40px;
    right: 50%;
    top: 20%;
    visibility: hidden;
}
@media (max-width:700px) {
    .thanks{
        right: 11%;
        font-size: 25px;
        top: 63%;
    }
    
}