.header{
font-family: 'Montserrat', sans-serif;
font-weight: bolder;
display: block;
align-items: center;
background-color: black;
color: white;
text-decoration: none;
height: 80px;
}



.menu{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 4%;
    left: 40%;
}

@media(max-width:1000px){
    .menu{
        left: 1%;
        top: 0%;
    }
}
@media(max-width:700px){
    .menu{
        left: 0%;
    }
}


.homeq{
    margin-left: 14%;
    margin-right: 150px;
    text-decoration: none;
    color: white;
    font-weight: lighter;
}

.homeq:hover{
color: orange;
box-shadow: orange 0px 6px 0px 0px;
}
.skills:hover{
    color: orange;
    box-shadow: orange 0px 6px 0px 0px;
    }
    .progetti:hover{
        color: orange;
        box-shadow: orange 0px 6px 0px 0px;
        }

.skills{
margin-right: 150px;
text-decoration: none;
color: white;
font-weight: lighter;
}

.progetti{
    margin-right: 10px;
    text-decoration: none;
    color: white;
    font-weight: lighter;
    }



.titlew{
    background-color: transparent;
    font-weight: bold;
    display: inline-flex;
    margin-left: 250px;
    margin-right: 170px;
    cursor: default;
}
@media(max-width:1000px){
    .titlew{
        position: absolute;
        left: 7%;
        margin-right: 10px;
        margin-left: 50px;
        top: 0px;
    }
}
@media(max-width:700px){
    .titlew{
        position: absolute;
        left: 10%;
        margin-right: 10px;
        margin-left: 50px;
    }
}

.title1x{
    background-color: transparent;
    font-weight: bold;
    display: inline-flex;
    animation: 1s title infinite alternate-reverse;
    position: absolute;
    left: 434px;
}
@media(max-width:1000px){
    .title1x{
        left: 298px;
        top: 0;
    }
}
@media(max-width:700px){
    .title1x{
        left: 285px;
    }
}

@keyframes title{
     from {opacity: 0;}
     to {opacity: 1;}
}

/*
.menu{
    filter: invert(1);
    position: absolute;
    right: 10%;
    width: 10%;
    top: 4%;
    visibility: hidden;
  }

  @media(max-width:600px){
    .menu{
        visibility: visible;
    }
  }

  .menu:hover{
    rotate: 180deg;
  }*/


  @media(max-width:1000px){
    .homeq{
        top: 30px;
        position: relative;
        margin-right: 80px;
        margin-left: 480px;

    }
}

@media(max-width:1000px){
    .skills{
        top: 30px;
        position: relative;
        margin-right: 80px;
    }
}

@media(max-width:1000px){
    .progetti{
        top: 30px;
        position: relative
    }
}




  @media(max-width:700px){
    .homeq{
        top: 105px;
        position: relative;
        margin-right: 80px;
        margin-left: 40px;

    }
}

@media(max-width:700px){
    .skills{
        top: 105px;
        position: relative;
        margin-right: 80px;
    }
}

@media(max-width:700px){
    .progetti{
        top: 105px;
        position: relative
    }
}


