.test{
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.loadBar{
        width:'0%';
        height:'30px';
        background-color:'green';
        animation: 10s linear load;
}

@keyframes load{
    from {width: 0%;}
    to {width: 100%;}
}
